.signup-container {
    padding: 2em;
    border-radius: 4px;
    max-width: 420px;
    margin: 0 auto;
    margin-bottom: 0.2em;
    margin-top: 0.8em;
    background: #F7F7F7;
}

.signup-form-button {
    width: 95%;
    margin-top: 15px;
}

.signup-form-button {
  background: transparent;
  border: 0.5px solid #074a91;
  border-radius: 4px;
}

.signup-form-button span {
  color: black;
}

.signup-form-button:hover {
  background: rgba(63,81,181,0.1);
  cursor: pointer;
}

.signup-form-button[disabled], .signup-form-button[disabled]:hover, .signup-form-button[disabled]:focus {
    opacity: 0.6;
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    cursor: not-allowed;
}

.signup-form input {
    background-color: transparent;
    border: 0;
    outline: 0;
    border-bottom: 0.5px solid #074a91;
}

.ant-input-lg {
  width: 95%;
}
